html, body {
  height: 100%;
  background-color: #F2F3F4
}

.btnContainer, .container, .point {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnContainer {
  height: 10%;
  width: 100%;
}

.btn {
  height: 40px;
  width: 180px;
  border-radius: 90px;
  background-color: #2DE48C;
}

.container {
  height: 90%;
  width: 100%;
}

.point {
  height: 25px;
  width: 25px;
  background-color: #D8D9D9;
  border-radius: 3px;
}

.text {
  font-size: 8px;
}


/* actionGreen: '#00E174',
  lightActionGreen: '#2DE48C',
  lightGreen: '#59E8A3',
  darkGreen: '#00CA69',
  darkestGreen: '#00954D',
  white: '#ffffff',
  lynxWhite: '#f5f6fa',
  red: '#EA2027',
  black: '#000000',
  textGray: '#6F6F70',
  backgroundGray: '#F2F3F4',
  borderGray: '#D8D9D9',
  accentBlue: '#205072',
  accentLightBlue: '#329D9C',
  accentAqua: '#56C596',
  accentMint: '#CFF4D2' */